@import "reset.css";
/* 文本hover添加改变颜色和添加下划线 */
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
body {
  font-size: 14px;
  font-family: "Verdana regular";
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.header {
  background-color: #000000;
  min-width: 1280px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}
.header-wrap {
  width: 1280px;
  height: 56px;
  margin: 0 auto;
}
.header-logo {
  float: left;
  vertical-align: middle;
  margin-left: 40px;
}
.header-logo img {
  vertical-align: middle;
}
.header-nav {
  display: inline-block;
}
.header-nav li {
  float: left;
  padding: 0 15px;
}
.header-nav li a:hover {
  text-decoration: none;
  color: #78b000;
  cursor: pointer;
}
.header-support {
  float: right;
  margin-right: 40px;
}
.header-support span {
  margin-left: 15px;
}
.header-support span:hover {
  text-decoration: none;
  color: #78b000;
  cursor: pointer;
}
.header-support #header-search-icon:hover {
  cursor: pointer;
}
.header-support #header-search {
  display: none;
  position: absolute;
  width: 450px;
  height: 32px;
  line-height: 30px;
  border: 1px solid #666666;
  margin-left: -380px;
  margin-top: 30px;
  border-radius: 4px;
  background-color: #ffffff;
  z-index: 1;
}
.header-support #header-search input {
  height: 30px;
  width: 400px;
  line-height: 30px;
  border: none;
  padding: 0;
  margin-left: 10px;
  vertical-align: middle;
}
.header-support #header-search input:focus {
  outline: none;
}
.header-support #header-search img {
  margin-left: 5px;
  vertical-align: middle;
}
.header-nav2 {
  height: 45px;
  position: absolute;
  left: 0;
  right: 0;
  top: 56px;
  background-color: #242424;
  z-index: 1;
}
.header-nav2 ul {
  display: inline-block;
}
.header-nav2 li {
  float: left;
  line-height: 45px;
  padding: 0 25px;
}
.header-nav2 li a:hover {
  text-decoration: none;
  color: #78b000;
  cursor: pointer;
}
.header #header-nav2-products {
  display: none;
}
.header #header-nav2-samples {
  display: none;
}
.header #header-nav2-lewitt {
  display: none;
}
.footer {
  height: 400px;
  min-width: 1280px;
  background-color: #000000;
  box-sizing: border-box;
  border-bottom: 2px solid #78b000;
  color: #ffffff;
  overflow: hidden;
}
.footer-wrap {
  width: 1280px;
  margin: 0 auto;
}
.footer-nav {
  margin: 95px 40px 0px;
}
.footer .footer-nav-column {
  display: inline-block;
  width: 16.66%;
  vertical-align: top;
}
.footer .footer-nav-column h4 {
  line-height: 2em;
}
.footer .footer-nav-column h4 a:hover {
  text-decoration: underline;
  color: #78b000;
  cursor: pointer;
}
.footer .footer-nav-column li {
  line-height: 2em;
  color: #e5e5e5;
}
.footer .footer-nav-column li a:hover {
  text-decoration: underline;
  color: #78b000;
  cursor: pointer;
}
.footer .footer-nav-sms {
  display: inline-block;
  vertical-align: top;
  float: right;
}
.footer .footer-nav-sms ul {
  overflow: hidden;
  /* 抵消最右一个li的margin-right */
  margin-right: -20px;
}
.footer .footer-nav-sms li {
  width: 40px;
  height: 40px;
  float: left;
  line-height: 40px;
  text-align: center;
  background-color: #ffffff;
  margin-right: 20px;
}
.footer .footer-nav-sms li img {
  vertical-align: middle;
  font-size: 0;
}
.footer .footer-nav-sms li:hover {
  cursor: pointer;
  background-color: #cccccc;
}
.footer-info {
  margin: 50px 40px 0px;
  color: #666666;
  font-size: 12px;
  line-height: 1.5em;
}
.footer-copyright {
  display: inline-block;
  padding-right: 15px;
  border-right: 1px solid #666666;
}
.footer-copyright span {
  color: #78b000;
}
.footer-country {
  display: inline-block;
  padding-left: 15px;
}
.footer-country .country-icon {
  vertical-align: -5px;
}
.footer-country .arrow {
  vertical-align: -3px;
}
.footer-country span {
  padding: 0 7px;
  vertical-align: -1px;
}
.footer-about {
  display: inline-block;
  float: right;
}
.footer-about span {
  padding: 0 10px;
}
.footer-about span:nth-child(2) {
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
}
.footer-about span:nth-child(3) {
  margin-right: -10px;
}
.footer-about span:hover {
  text-decoration: underline;
  color: #78b000;
  cursor: pointer;
}
.footer-about span a {
  color: #666666;
}
.footer-about span a:hover {
  text-decoration: underline;
  color: #78b000;
  cursor: pointer;
}
