/* 文本hover添加改变颜色和添加下划线 */
.footer-index {
  height: 45px;
  background-color: #f2f2f2;
  color: #999999;
}
.footer-index .footer-wrap {
  height: 45px;
  position: relative;
}
.footer-index .footer-info {
  height: 1.5em;
  margin: auto;
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  right: 20px;
}
html,
body {
  height: 100%;
}
header,
footer {
  position: absolute;
  left: 0;
  right: 0;
}
header {
  top: 0;
}
footer {
  bottom: 0;
}
@media (max-width: 1280px) {
  .content-ad > div {
    width: 50%;
  }
}
@media (min-width: 1280px) {
  .content-ad > div {
    width: 25%;
  }
}
.content {
  position: absolute;
  min-width: 1280px;
  background-color: #030303;
  overflow: auto;
  left: 0;
  right: 0;
  top: 56px;
  bottom: 45px;
}
.content-banner {
  width: 1280px;
  min-height: 470px;
  bottom: 180px;
  position: absolute;
  left: 50%;
  margin-left: -640px;
  background-image: url("../../images/content-banner-bg.png");
}
.content-banner-scroll {
  display: inline-block;
  height: 470px;
  width: 1280px;
  color: #ffffff;
  overflow: hidden;
}
.content-banner-scroll li {
  display: block;
  width: 1280px;
  height: 470px;
  float: left;
}
.content-banner-scroll li img {
  position: absolute;
  left: 376px;
  bottom: -36px;
}
.content-banner-scroll li h1,
.content-banner-scroll li h4 {
  text-align: right;
  margin-right: 335px;
}
.content-banner-scroll li h4 {
  margin-top: 60px;
}
.content-banner-scroll li h4 a {
  color: #78b000;
}
.content-banner-scroll li h4 a:hover {
  text-decoration: underline;
  color: #78b000;
  cursor: pointer;
}
.content-banner-scroll li h1:nth-child(2) {
  margin-top: 100px;
  line-height: 1.5em;
}
.content-banner-select {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -34px;
  display: inline-block;
}
.content-banner-select a {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  margin: 0 5px;
  font-size: 0;
}
.content-banner-select a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.content-banner-select .banner-selected {
  background-color: rgba(255, 255, 255, 0.4);
}
.content-ad {
  width: 100%;
  height: 180px;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  bottom: 0;
}
.content-ad > div {
  display: inline-block;
  background-size: cover;
  /* flex布局的垂直居中 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-ad > div div {
  color: #ffffff;
  text-align: center;
  line-height: 2em;
}
.content-ad > div div:hover {
  text-decoration: none;
  color: #78b000;
  cursor: pointer;
}
