@import "reset.css";
@import "public.less";

body {
  font-size: @font-size-normal;
  font-family: @font-family-normal;
}
h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

a {
  color: @font-white;
  text-decoration: none;
}

.nav-focus {
  color: @font-green;
}

// 清除浮动
.clearfix {
    *zoom: 1;
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.list-banner {
    height: 260px;
    background-color: #282828;
}

[class*='col-'] {
  box-sizing: border-box;
  float: left;
  margin: 0px ( @col-margin / 2 ) @col-margin;
}

/*大于768px*/
@media (min-width: 769px) {
    .col-md-1 {
        width: calc( ~'8.333%'- @col-margin);
    }
    .col-md-2 {
        width: calc( ~'16.666%' - @col-margin);
    }
    .col-md-3 {
        width: calc( ~'25%' - @col-margin);
    }
    .col-md-4 {
        width: calc( ~'33.333%' - @col-margin);
    }
    .col-md-5 {
        width: calc( ~'41.66%' - @col-margin);
    }
    .col-md-8 {
      width: calc( ~'66.666%' - @col-margin);
    }
    .col-md-6 {
        width: calc( ~'50%' - @col-margin);
    }
}

/*小于768px*/
@media (max-width: 768px) {
    .col-sm-2 {
        width: calc( ~'16.666%' - @col-margin);
    }
    .col-sm-3 {
        width: calc( ~'25%' - @col-margin);
    }
    .col-sm-6 {
        width: calc( ~'50%' - @col-margin);
    }
    .col-sm-8 {
        width: calc( ~'66.666%' - @col-margin);
    }
    .col-sm-12 {
        width: calc( ~'100%' - @col-margin);
    }

    .sm-hidden {
      display: none;
    }
}
